<div style="background:yellow;padding:20px;">
  {% case icon %}
    {% when 'tiktok' %}
      {% render 'icon-tiktok' %}
    {% when 'vimeo' %}
      {% render 'icon-vimeo' %}
    {% when 'twitter' %}
      {% render 'icon-twitter' %}
  {% endcase %}
</div>
