<div class="page-width">
    12345
    {%- for block in section.blocks -%}
        {% render block %}
        {%- endfor -%}
    {%- endfor -%}
</div>

{% schema %}
{
    "name": "image get links",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
        {
            "name": "t:sections.apps.presets.name"
        }
    ]
}
{% endschema %}